<h2 class="docs-title">Two datasource (emojis + users)</h2>

{{#code-block-tabs as |tabs|}}
  {{#tabs.tab name='result'}}
      {{#keyword-complete dataSources=ds text=text target='#complete-textarea' as |complete|}}
          <div class="relative">
            {{#complete.tooltip isVisible=complete.visible ~}}
                <div class="complete-tooltip-header">
                    <div class="row">
                        <div class="six columns">
                            query: "<strong>{{complete.filterQuery}}</strong>"
                        </div>
                        <div class="six columns text-right">
                            <strong>↑</strong> <strong>↓</strong> to navigate
                            <strong>↵</strong> to select
                            <strong>esc</strong> to dismiss
                        </div>
                    </div>
                </div>
                <div class="complete-tooltip-body">
                    <ul>
                      {{#each complete.suggestions as |suggestion idx|}}
                        {{complete.item tagName='li' suggestion=suggestion active=(eq idx complete.selectionIdx)}}
                      {{/each}}
                    </ul>
                </div>
            {{~/complete.tooltip}}
          </div>
          {{textarea class="demo-textarea emoji-and-users" id="complete-textarea" rows="8" value=text}}
      {{/keyword-complete}}
  {{/tabs.tab}}
  {{#tabs.tab name='template'}}
{{#code-block language='handlebars'}}
\{{#keyword-complete dataSources=ds text=text target='#complete-textarea' as |complete|}}
      &lt;div class="relative">
        \{{#complete.tooltip isVisible=complete.visible ~}}
            &lt;div class="complete-tooltip-header">
                &lt;div class="row">
                    &lt;div class="six columns">
                        query: "&lt;strong>\{{complete.filterQuery}}&lt;/strong>"
                    &lt;/div>
                    &lt;div class="six columns text-right">
                        &lt;strong>↑&lt;/strong> &lt;strong>↓&lt;/strong> to navigate
                        &lt;strong>↵&lt;/strong> to select
                        &lt;strong>esc&lt;/strong> to dismiss
                    &lt;/div>
                &lt;/div>
            &lt;/div>
            &lt;div class="complete-tooltip-body">
                &lt;ul>
                  \{{#each complete.suggestions as |suggestion idx|}}
                    \{{complete.item tagName='li' suggestion=suggestion active=(eq idx complete.selectionIdx)}}
                  \{{/each}}
                &lt;/ul>
            &lt;/div>
        \{{~/complete.tooltip}}
      &lt;/div>
  \{{textarea class="demo-textarea emoji-and-users" id="complete-textarea" rows="8" value=text}}
\{{/keyword-complete}}
{{/code-block}}
  {{/tabs.tab}}

  {{#tabs.tab name='javascript'}}
{{#code-block language='javascript'}}
export default Ember.Controller.extend({
  text: 'Lorem ipsum dolor sit amet, … sequi similique totam vel.',
  ds: {
    ':': {
      component: 'emoji-item',
      extractDataString(item) {
        return `:${item.val}:`;
      },
      loadSuggestions(query) {
        return RSVP.resolve(ENV.APP.EMOJIS.filter(item => `:${item.val}:`.indexOf(query) !== -1));
      }
    },
    '@': {
      component: 'user-item',
      extractDataString(item) {
        return `@${item.nick}`;
      },
      loadSuggestions(query) {
        const queryLower = query.substring(1).toLowerCase();
        return new RSVP.Promise(res => {
          Ember.run.later(this, () => {
            res(ENV.APP.USERS.filter(item => item.nick.toLowerCase().startsWith(queryLower)));
          }, Math.random() * 100);
        });
      }
    }
  }
});{{/code-block}}
  {{/tabs.tab}}
{{/code-block-tabs}}

<hr>

<div class="row">
    <div class="six columns">
        <h4>emoji alias <code>:</code></h4>

      {{#keyword-list keywords=emojis as |emoji|}}
          <code>{{emoji.val}}</code>
      {{/keyword-list}}
    </div>
    <div class="six columns">
        <h4>user alias <code>@</code></h4>

      {{#keyword-list keywords=users as |user|}}
          <code>{{user.nick}}</code>
      {{/keyword-list}}
    </div>
</div>
